/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mz9JQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9szuYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9XzyYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v23/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKhXWmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v26/NaNnepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC1z3QSabshNFVe3e0O5j3ZjrZCu23Qd4G0EBysQNK-QKavMl1cKq3tHXtXi8mzLjaAQbE.ttf) format('truetype');
}
@font-face {
  font-family: Gotham Narr;
  src: url(../public/fonts/Gotham\ Narrow\ Bold.otf);
}
@font-face {
  font-family: Gotham Narr Light;
  src: url(../public/fonts/Gotham\ Narrow\ Extra\ Light.otf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../public/fonts/SourceSansPro-Bold.ttf);
}
main {
  width: 100vw;
  height: 700px;
  background-color: #1E201F;
  display: flex;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
}
main .main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
main .main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../public/ft-van.jpg) no-repeat top fixed;
  background-size: cover;
  opacity: 0.05;
  z-index: 4;
}
main .main .main-textos {
  margin-top: -10%;
}
@media screen and (min-width: 540px) {
  main .main .main-textos {
    margin-top: -120px;
  }
}
main .main .main-textos h1 {
  font-size: 2.4em;
  font-family: Gotham Narr;
  color: #fffffa;
  text-align: center;
}
@media screen and (min-width: 414px) {
  main .main .main-textos h1 {
    font-size: 2.4em;
    text-align: start;
  }
}
@media screen and (min-width: 540px) {
  main .main .main-textos h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 768px) {
  main .main .main-textos h1 {
    font-size: 3.6em;
  }
}
main .main .main-textos p {
  font-size: 0.8em;
  font-family: Source Sans Pro;
  color: #b6b6b6;
  text-align: center;
}
@media screen and (min-width: 540px) {
  main .main .main-textos p {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  main .main .main-textos p {
    font-size: 1.3em;
  }
}
main .main .main-buttons {
  display: flex;
  margin-top: 30px;
  width: 260px;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 540px) {
  main .main .main-buttons {
    width: 315px;
  }
}
main .main .main-buttons .main-button {
  padding: 0.6em 1em;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: all 1000ms;
  font-size: 14px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  outline: 2px solid #fff;
  background-color: #1E201F;
  font-family: Gotham Narr;
  cursor: pointer;
}
@media screen and (min-width: 540px) {
  main .main .main-buttons .main-button {
    padding: 0.8em 1em;
    font-size: 18px;
  }
}
main .main .main-buttons .main-button:hover {
  color: #1E201F;
  transform: scale(1.1);
  outline: 2px solid #646464;
  box-shadow: 4px 5px 17px -4px #404241;
}
main .main .main-buttons .main-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
main .main .main-buttons .main-button:hover::before {
  width: 250%;
}
main .main .arrow {
  position: absolute;
  display: flex;
  width: 60px;
  height: 75px;
  justify-content: center;
  bottom: 150px;
}
main .main .arrow:before {
  content: '';
  width: 2px;
  height: 45px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  animation: lineDown 1.5s linear 1.5s infinite;
  transform-origin: top center;
}
main .main .arrow img {
  width: 16px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 1;
  animation: arrowDown 1.5s linear 1.5s infinite;
}
.nav-info-container {
  width: 100vw;
  height: 40px;
  background-color: #1E201F;
  justify-content: center;
  display: none;
  border-bottom: 5px solid #940000;
  opacity: 1;
  position: relative;
  z-index: 1;
}
.nav-info-container.scroll-fixed {
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .nav-info-container {
    display: flex;
  }
}
.nav-info-container .nav-info {
  width: 100%;
  height: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
}
.nav-info-container .nav-info .i-inf {
  margin-right: 8px;
  color: white;
  font-size: 0.8em;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .i-inf {
    font-size: 1em;
  }
}
.nav-info-container .nav-info .text-nav-info {
  color: white;
  font-size: 0.8em;
  margin-right: 8px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .text-nav-info {
    font-size: 1em;
  }
}
.nav-info-container .nav-info .i-social {
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 15px;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .i-social {
    font-size: 1.5em;
  }
}
.nav-info-container .nav-info .i-social.i-social2 {
  margin-right: 24px;
}
@media screen and (min-width: 1225px) {
  .nav-info-container .nav-info .i-social.i-social2 {
    margin-right: 0px;
  }
}
nav {
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: white;
  z-index: 10;
  padding: 5px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #1E201F;
}
nav .nav-1220 {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1220px) {
  nav .nav-1220 {
    width: 1220px;
  }
}
nav .nav-1220 img {
  width: auto;
  height: 100%;
}
nav .nav-1220 ul {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-1220 ul li a {
  text-decoration: none;
  color: #1E201F;
  font-size: 1.15em;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  display: none;
}
nav .nav-1220 ul li a:hover {
  color: #0a0a4c;
  border-bottom: 1px solid #940000;
}
@media screen and (min-width: 1020px) {
  nav .nav-1220 ul li a {
    display: flex;
  }
}
nav .nav-1220 ul li .btn-call {
  background-color: #940000;
  width: 184px;
  height: 50px;
  padding: 4px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  display: none;
}
@media screen and (min-width: 768px) {
  nav .nav-1220 ul li .btn-call {
    display: flex;
  }
}
nav .nav-1220 ul li .btn-call i {
  margin-right: 8px;
}
nav .nav-1220 ul .menu-icon {
  display: block;
  font-size: 1.8em;
  color: #1E201F;
  margin-right: 30px;
  cursor: pointer;
}
@media screen and (min-width: 636px) {
  nav .nav-1220 ul .menu-icon {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1020px) {
  nav .nav-1220 ul .menu-icon {
    display: none;
  }
}
aside {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  top: 0;
  right: 0;
}
aside .aside-child {
  width: 400px;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 301.8px) {
  aside .aside-child {
    width: 100vw;
  }
}
aside .aside-child .aside-x {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 1.4em;
  color: #1E201F;
  cursor: pointer;
}
aside .aside-child ul {
  display: flex;
  width: 100%;
  height: auto;
  align-items: start;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 25px;
}
aside .aside-child ul .aside-a {
  text-decoration: none;
  color: #940000;
  font-size: 1em;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  margin-bottom: 35px;
  width: 100%;
  cursor: pointer;
}
aside .aside-child ul .aside-a:hover {
  color: #0a0a4c;
}
aside .aside-child .a-call {
  width: 200px;
  height: 60px;
  background-color: #940000;
  padding: 4px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
}
aside .aside-child .a-call .btn-call {
  width: 100%;
  height: 100%;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #940000;
}
aside .aside-child .a-call .btn-call i {
  margin-right: 8px;
  color: white;
}
aside .aside-child .a-call .btn-call p {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
aside .aside-child .aside-footer {
  width: 100%;
  height: 200px;
  background-color: #940000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
aside .aside-child .aside-footer .p1 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
aside .aside-child .aside-footer .p1 p {
  color: white;
  font-size: 1.1em;
  margin-right: 8px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
aside .aside-child .aside-footer .p1 i {
  font-size: 2em;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
}
aside .aside-child .aside-footer .p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: row;
}
aside .aside-child .aside-footer .p2 a {
  text-decoration: none;
}
aside .aside-child .aside-footer .p2 a:first-child {
  margin-right: 25px;
}
aside .aside-child .aside-footer .p2 a i {
  font-size: 2em;
  color: white;
  cursor: pointer;
}
footer {
  position: relative;
  height: 220px;
  width: 100vw;
  background-color: #1E201F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
}
@media screen and (max-width: 741.6px) {
  footer {
    height: auto;
  }
}
footer .content-footer {
  position: relative;
  height: 62%;
  width: 1220px;
  background-color: #1E201F;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(230, 230, 230, 0.459);
}
@media screen and (max-width: 1199.98px) {
  footer .content-footer {
    border-bottom: none;
  }
}
@media screen and (max-width: 1195.98px) {
  footer .content-footer {
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (max-width: 741.6px) {
  footer .content-footer {
    gap: 20px;
  }
}
@media screen and (max-width: 541.6px) {
  footer .content-footer {
    width: 70%;
  }
}
@media screen and (max-width: 415.22px) {
  footer .content-footer {
    width: 90vw;
  }
}
footer .content-footer .elements-footer {
  background-color: #1E201F;
  height: 100%;
}
footer .content-footer #elements-footer-left {
  width: 50%;
  height: 100%;
  background-color: #1E201F;
}
@media screen and (max-width: 1199.98px) {
  footer .content-footer #elements-footer-left {
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width: 1195.98px) {
  footer .content-footer #elements-footer-left {
    width: 100%;
    justify-content: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 377.6px) {
  footer .content-footer #elements-footer-left {
    flex-direction: column;
  }
}
footer .content-footer #elements-footer-left .footer-full-logo {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 415.22px) {
  footer .content-footer #elements-footer-left .footer-full-logo {
    width: 180px;
  }
}
@media screen and (max-width: 377.6px) {
  footer .content-footer #elements-footer-left .footer-full-logo {
    justify-content: center;
  }
}
@media screen and (max-width: 381.22px) {
  footer .content-footer #elements-footer-left .footer-full-logo {
    margin: 0 auto;
    transform: translateX(-12px);
  }
}
footer .content-footer #elements-footer-left .footer-full-logo .logo-footer {
  height: 80px;
  width: auto;
}
@media screen and (max-width: 415.22px) {
  footer .content-footer #elements-footer-left .footer-full-logo .logo-footer {
    height: 60px;
  }
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: 16px;
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo .h1-logo-footer {
  color: #88c425;
  font-size: 2.2em;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo .h2-logo-footer {
  color: #e2dfdf;
  font-size: 0.7em;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
footer .content-footer #elements-footer-left .footer-nav {
  margin-top: 30px;
  margin-left: 8px;
}
@media screen and (max-width: 1199.98px) {
  footer .content-footer #elements-footer-left .footer-nav {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 1195.98px) {
  footer .content-footer #elements-footer-left .footer-nav {
    width: 500px;
  }
}
@media screen and (max-width: 905.2px) {
  footer .content-footer #elements-footer-left .footer-nav {
    width: 100%;
  }
}
@media screen and (max-width: 741.6px) {
  footer .content-footer #elements-footer-left .footer-nav {
    margin-top: 0px;
    width: 300px;
  }
}
@media screen and (max-width: 381.22px) {
  footer .content-footer #elements-footer-left .footer-nav {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 377.6px) {
  footer .content-footer #elements-footer-left .footer-nav {
    width: 262.5px;
  }
}
@media screen and (max-width: 381.22px) {
  footer .content-footer #elements-footer-left .footer-nav {
    margin: 0 auto;
  }
}
@media screen and (max-width: 281.6px) {
  footer .content-footer #elements-footer-left .footer-nav {
    width: 196px;
    margin-top: 10px;
  }
  footer .content-footer #elements-footer-left .footer-nav li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 281.6px) and screen and (max-width: 281.6px) {
  footer .content-footer #elements-footer-left .footer-nav li {
    text-align: center;
  }
}
footer .content-footer #elements-footer-left .footer-nav ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
@media screen and (max-width: 1199.98px) {
  footer .content-footer #elements-footer-left .footer-nav ul {
    width: 100%;
  }
}
@media screen and (max-width: 905.2px) {
  footer .content-footer #elements-footer-left .footer-nav ul {
    width: 100%;
    gap: 10px;
  }
}
@media screen and (max-width: 741.6px) {
  footer .content-footer #elements-footer-left .footer-nav ul {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 377.6px) {
  footer .content-footer #elements-footer-left .footer-nav ul {
    width: 100%;
  }
}
footer .content-footer #elements-footer-left .footer-nav ul li {
  text-align: center;
}
footer .content-footer #elements-footer-left .footer-nav a {
  text-decoration: none;
  font-family: 'Jost';
  color: #fff;
}
footer .content-footer #elements-footer-left .footer-nav a:hover {
  color: #2424a8;
}
footer #elements-footer-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
@media screen and (max-width: 1199.98px) {
  footer #elements-footer-right {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1195.98px) {
  footer #elements-footer-right {
    width: 100%;
    justify-content: center;
  }
}
footer #elements-footer-right .footer-redes {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 10px;
  width: auto;
}
@media screen and (max-width: 281.6px) {
  footer #elements-footer-right .footer-redes {
    font-size: 0.5rem;
    margin-top: 15px;
  }
}
footer #elements-footer-right .footer-redes i {
  color: #fff;
  font-size: 1.9rem;
  margin-left: 10px;
}
footer #elements-footer-right .footer-redes p {
  color: #fff;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 500;
  margin-top: 10px;
}
@media screen and (max-width: 377.6px) {
  footer #elements-footer-right .footer-redes p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 281.6px) {
  footer #elements-footer-right .footer-redes p {
    font-size: 0.6rem;
  }
}
.copyright {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  width: 1220px;
  color: #fff;
  margin-top: 30px;
  align-self: center;
}
@media screen and (max-width: 1249.98px) {
  .copyright {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 741.6px) {
  .copyright {
    margin-top: 48px;
    width: 80%;
  }
}
@media screen and (max-width: 377.6px) {
  .copyright {
    width: 262.5px;
  }
}
@media screen and (max-width: 281.6px) {
  .copyright {
    font-size: 0.7rem;
  }
}
.line-white {
  width: 1220px;
  height: 1px;
  background-color: rgba(230, 230, 230, 0.459);
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
}
body {
  width: 100vw;
  overflow-x: hidden;
  transition: 0.2s;
  background-color: white;
}
.navbar.fixed {
  position: fixed;
  top: 0px;
  z-index: 5;
}
.height-100vh {
  height: 100vh;
}
.display-toggle {
  display: none !important;
}
.overflow-toggle {
  overflow-y: hidden;
}
