/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes swipe {
  from {
    transform: translateX(-180px);
  }
  to {
    transform: translateX(0px);
  }
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mz9JQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9szuYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9XzyYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v23/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKhXWmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v26/NaNnepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC1z3QSabshNFVe3e0O5j3ZjrZCu23Qd4G0EBysQNK-QKavMl1cKq3tHXtXi8mzLjaAQbE.ttf) format('truetype');
}
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/berkshireswash/v20/ptRRTi-cavZOGqCvnNJDl5m5XmNPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZu0ENI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZm0FNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZrMFNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZu0FNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZt8FNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZjMCNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZgoCNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZm0CNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zJtBhPNqw73oHH7BbQp4-B6XlrZkQCNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJAVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mwjJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mz9JQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mxEIgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mwjIgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mwKIgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v16/vm8vdRfvXFLG3OLnsO15WYS5DF7_.ttf) format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionone/v18/PbynFmL8HhTPqbjUzux3JHuW.ttf) format('truetype');
}
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sriracha/v14/0nkrC9D4IuYBgWcI9ObY.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU3msJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU7GsJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUAGwJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUOWwJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUXmwJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUd2wJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K8nQNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K-DQNig.ttf) format('truetype');
}
@font-face {
  font-family: Gotham Narr;
  src: url(../public/fonts/Gotham\ Narrow\ Bold.otf);
}
@font-face {
  font-family: ITC;
  src: url(../public/fonts/ITCAvantGardeStd-Bk.otf);
}
@font-face {
  font-family: Gotham Narr Light;
  src: url(../public/fonts/Gotham\ Narrow\ Extra\ Light.otf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../public/fonts/SourceSansPro-Bold.ttf);
}
.main-home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 120px;
  gap: 270px;
}
.main-sobre {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 120px;
  gap: 270px;
}
.aside {
  width: 275px;
  height: 100%;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}
.aside .navigation {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
}
.aside .navigation .logo .p1 {
  font-family: "ITC", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
}
.aside .navigation .logo .p2 {
  font-family: "ITC", sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-top: 3px;
  letter-spacing: 2px;
}
.aside .navigation .menu {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.aside .navigation .menu ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.aside .navigation .menu ul li {
  animation: swipe 0.5s ease-in-out 0s 1;
}
.aside .navigation .menu ul li:nth-child(2) {
  animation-duration: 1s;
}
.aside .navigation .menu ul li:nth-child(3) {
  animation-duration: 1.5s;
}
.aside .navigation .menu ul li:nth-child(4) {
  animation-duration: 2s;
}
.aside .navigation .menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 350;
  font-size: 0.9rem;
  position: relative;
}
.aside .navigation .menu ul li a::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.aside .navigation .menu ul li a:hover::after {
  width: 100%;
}
.aside .navigation .menu ul li .addContent::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.aside .direitos p {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  margin-left: 10px;
}
.header {
  width: 100%;
  height: 130px;
  border-bottom: 3px solid #fff;
}
.header h1 {
  color: #fff;
  font-size: 8rem;
  text-align: right;
  font-family: "Jost", sans-serif;
  margin-right: 10px;
  font-weight: 500;
}
.contain-design {
  width: 100%;
  max-width: 1500px;
  height: 827px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contain-design .container-img {
  width: 813px;
  height: 100%;
}
.contain-design .container-img .txt-data {
  display: flex;
  justify-content: space-between;
}
.contain-design .container-img .txt-data p {
  font-family: "Jost", sans-serif;
  color: #fff;
}
.contain-design .container-img .img-design {
  height: 810px;
  width: 813px;
  background-image: url('../public/img/celulares.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain-design .title-design {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-design .title-design .contain-h2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.contain-design .title-design .contain-h2 h2 {
  text-align: left;
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
}
.contain-design .text-design {
  width: 80%;
  height: 100%;
  margin-left: 20px;
  border-left: 3px solid #fff;
  padding-left: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contain-design .text-design > div {
  margin-bottom: 50px;
}
.contain-design .text-design p {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.contain-servicos {
  width: 100%;
  max-width: 1500px;
  height: 932px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.contain-servicos .title-servicos {
  width: 550px;
  height: 93%;
  border-bottom: 4px solid #fff;
}
.contain-servicos .title-servicos h1,
.contain-servicos .title-servicos h2 {
  font-family: "Jost", sans-serif;
  color: #fff;
}
.contain-servicos .title-servicos h1 {
  font-size: 4.1rem;
  margin-left: 39px;
  font-weight: 500;
}
.contain-servicos .title-servicos h2 {
  font-size: 4.2rem;
  font-weight: 500;
  margin-top: 20px;
}
.contain-servicos .title-servicos ul {
  margin-left: 50px;
  margin-top: 80px;
}
.contain-servicos .title-servicos li {
  list-style-type: disc;
  color: #fff;
  font-size: 2.5rem;
}
.contain-servicos .img-servicos {
  grid-row: span 2;
  grid-column: 0.33333333;
  height: 100%;
  width: 900px;
}
.contain-servicos .img-servicos .text-data {
  display: flex;
  justify-content: space-between;
}
.contain-servicos .img-servicos .text-data p {
  font-family: "Jost", sans-serif;
  color: #fff;
}
.contain-servicos .img-servicos .bg-img {
  height: 98.5%;
  width: 100%;
  background-image: url('../public/img/mrdr-img.png');
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain-servicos .text-servicos {
  height: 510px;
  width: 550px;
}
.contain-servicos .text-servicos p {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 1.4rem;
}
.contain-servicos .text-servicos p span {
  text-decoration: underline;
}
.contain-servicos .text-servicos .p-margin {
  font-family: "Jost", sans-serif;
  font-size: 1.4rem;
  line-height: 30px;
  margin-top: 50px;
  color: #fff;
}
.contain-simplicidade {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  justify-items: flex-end;
}
.contain-simplicidade .img-simplicidade {
  width: 771px;
  height: 927px;
}
.contain-simplicidade .img-simplicidade .text-data {
  display: flex;
  justify-content: space-between;
}
.contain-simplicidade .img-simplicidade .text-data p {
  font-family: "Jost", sans-serif;
  color: #fff;
}
.contain-simplicidade .img-simplicidade .bg-simplicidade {
  height: 98.5%;
  width: 100%;
  background-image: url('../public/img/mesa.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain-simplicidade .text-simplicidade {
  height: 100%;
  width: 85%;
  border-left: 3px solid #fff;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.contain-simplicidade .text-simplicidade h2 {
  color: #fff;
  font-size: 4rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 90px;
}
.contain-simplicidade .text-simplicidade p {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  line-height: 28.5px;
  margin-top: 40px;
  text-align: left;
}
.contain-simplicidade .text-simplicidade p span {
  text-decoration: underline;
}
.sobre-equipe {
  width: 100%;
  max-width: 1550px;
  height: 715px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.sobre-equipe .equipe-title {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}
.sobre-equipe .equipe-title .txt-title {
  height: auto;
  display: flex;
  justify-content: center;
}
.sobre-equipe .equipe-title .txt-title p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 4.3rem;
  color: #fff;
  line-height: 90px;
}
.sobre-equipe .equipe-title .txt-title p span {
  margin-left: 10px;
}
.sobre-equipe .txt-equipe {
  height: 100%;
  width: 450px;
  display: flex;
  align-items: center;
  border-left: 3px solid #fff;
}
.sobre-equipe .txt-equipe .contain-txt-equipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 40px;
}
.sobre-equipe .txt-equipe .contain-txt-equipe p {
  line-height: 30px;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}
.sobre-equipe .img-equipe {
  width: 45%;
  height: 100%;
  background-image: url('../public/img/city.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.sobre-integrantes {
  width: 100%;
  max-width: 1550px;
  height: 970px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.sobre-integrantes .nomes-integrantes {
  height: 100%;
  width: 40%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sobre-integrantes .nomes-integrantes .vic {
  width: 100%;
  height: 270px;
  display: flex;
  gap: 15px;
}
.sobre-integrantes .nomes-integrantes .vic .img-vic {
  height: 100%;
  width: 59%;
  background-image: url('../public/img/rectangle_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-integrantes .nomes-integrantes .vic .text-vic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sobre-integrantes .nomes-integrantes .vic .text-vic p {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 200;
}
.sobre-integrantes .nomes-integrantes .fabs {
  width: 100%;
  height: 270px;
  display: flex;
  gap: 15px;
}
.sobre-integrantes .nomes-integrantes .fabs .img-fabs {
  height: 100%;
  width: 76%;
  background-image: url('../public/img/rectangle_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-integrantes .nomes-integrantes .fabs .text-fabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sobre-integrantes .nomes-integrantes .fabs .text-fabs p {
  font-weight: 200;
  color: #fff;
  font-family: "Jost", sans-serif;
}
.sobre-integrantes .nomes-integrantes .gaby {
  width: 100%;
  height: 270px;
  display: flex;
  gap: 15px;
}
.sobre-integrantes .nomes-integrantes .gaby .img-gaby {
  height: 100%;
  width: 61%;
  background-image: url('../public/img/rectangle_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-integrantes .nomes-integrantes .gaby .text-gaby {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sobre-integrantes .nomes-integrantes .gaby .text-gaby p {
  font-weight: 200;
  color: #fff;
  font-family: "Jost", sans-serif;
}
.sobre-integrantes .nomes-integrantes .henrique {
  width: 100%;
  height: 270px;
  display: flex;
  gap: 15px;
}
.sobre-integrantes .nomes-integrantes .henrique .img-henrique {
  height: 100%;
  width: 59%;
  background-image: url('../public/img/rectangle_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-integrantes .nomes-integrantes .henrique .text-henrique {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sobre-integrantes .nomes-integrantes .henrique .text-henrique p {
  font-weight: 200;
  color: #fff;
  font-family: "Jost", sans-serif;
}
.sobre-integrantes .title-name h2,
.sobre-integrantes .title-name h3 {
  font-family: "Jost", sans-serif;
  color: #fff;
}
.sobre-integrantes .title-name h2 {
  font-size: 2.4rem;
  font-weight: 500;
}
.sobre-integrantes .title-name h3 {
  margin-top: 10px;
  font-size: 1.45rem;
  font-weight: 200;
}
.sobre-integrantes .title-integrantes {
  height: 100%;
  width: 30%;
  padding-left: 10px;
  border-left: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-integrantes .title-integrantes .contain-txt-integrantes {
  height: auto;
  width: auto;
}
.sobre-integrantes .title-integrantes .contain-txt-integrantes h2 {
  font-family: "Jost", sans-serif;
  font-size: 4.4rem;
  color: #fff;
  line-height: 100px;
  font-weight: 500;
}
.sobre-integrantes .txt-integrantes {
  height: 100%;
  width: 30%;
  border-left: 3px solid #fff;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.sobre-integrantes .txt-integrantes .contain-p-integrantes {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sobre-integrantes .txt-integrantes .contain-p-integrantes p {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  line-height: 35px;
}
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  transition: 0.2s;
}
.portfolio {
  background-color: #7A4799;
}
.home {
  background-color: #52A587;
}
.sobre-nos {
  background-color: #556AC3;
}
.height-100vh {
  height: 100vh;
}
.display-toggle {
  display: none !important;
}
.overflow-toggle {
  overflow-y: hidden;
}
