.contain-servicos {
    width: 100%;
    max-width: 1500px;
    background-color: blue;
    height: 827px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .title-servicos {
        width: 550px;
        height: 400px;
        background-color: red;
    }

    .img-servicos {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        background-color: black;
        height: 100%;
        width: 100%;
    }

    .text-servicos {
        height: 100%;
        width: 550px;
        background-color: aqua;
        grid-row: 1 / 3;
    }
}