.main {
    width: 100vw;
    height: 100vh;
    background-color: #7A4799;

    .header {
        height: 130px;
        border-bottom: 3px solid #fff;
        width: 86.5vw;
        //background-color: aqua;

        h1 {
            text-align: right;
            font-family: "Jost", sans-serif;
            font-size: 8rem;

            color: #fff;
            font-weight: 500;

            margin-right: 35px;
        }
    }
}