.main-home {
    width: 100vw;
    height: 100vh;
    background-color: #52A587;
    position: relative;
    display: flex;
    flex-direction: column;
    

    .header-home {
        height: 130px;
        border-bottom: 3px solid #fff;
        width: 100vw;
        
        //background-color: aqua;

        h1 {
            text-align: right;
            font-family: "Jost", sans-serif;
            font-size: 8rem;

            color: #fff;
            font-weight: 500;

            margin-right: 35px;
        }
    }
}

